.btn{
    width: 100%;
    border: 3px solid white;
    background: none;
    aspect-ratio: 1/1;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: .5rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.btn.active{
    background-color: hsl(173, 100%, 72%);
    box-shadow: 0 0  rgb(255, 255, 255);
}

.btn.inactive{
    background-color: gray;
    cursor: not-allowed;
    opacity: 0.3;
    box-shadow: 0 0  rgb(255, 255, 255);
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled){
    background-color: hsl(173, 100%, 72%);
    box-shadow: 0 0 100px rgb(47, 255, 234);
}